<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7274d2">  <td>19/10/04 10:05:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;logoCheck.testSetUp()[pri:0, instance:com.vehiculum.tests.logoCheck@f8c1ddd]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="7274d2">  <td>19/10/04 10:05:24</td>   <td>5500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="logoCheck.logoCollect()[pri:1, instance:com.vehiculum.tests.logoCheck@f8c1ddd]">logoCollect</td> 
  <td>main@77269878</td>   <td></td> </tr>
<tr bgcolor="7274d2">  <td>19/10/04 10:05:40</td>   <td>21954</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;logoCheck.tearDown()[pri:0, instance:com.vehiculum.tests.logoCheck@f8c1ddd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@77269878</td>   <td></td> </tr>
</table>
